{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Shelf</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <style>
      :root {
        --bg-main: #fbfae6;
        --brand-green: #93b90e;
        --brand-yellow: #e3b91c;
      }
      body {
        background-color: var(--bg-main);
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body>
    {% if messages %}
    <div
      id="django-messages"
      class="fixed top-4 right-4 z-50 flex flex-col gap-2"
    >
      {% for message in messages %}
      <div
        class="message-item p-4 rounded-lg shadow-lg text-white {% if message.tags == 'success' %}bg-green-600{% else %}bg-blue-600{% endif %} transition-all duration-500 shadow-2xl"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <main>{% block content %}{% endblock %}</main>

    <script>
      setTimeout(function () {
        const messages = document.querySelectorAll(".message-item");
        messages.forEach(function (msg) {
          msg.style.opacity = "0";
          msg.style.transform = "translateX(20px)";
          setTimeout(() => msg.remove(), 500);
        });
      }, 3000);
    </script>
  </body>
</html>
